<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Person API</h1>
<h4>This API is a simple test implementation of REST API created with Spring.</h4>

<p>All documentation can be found at</p>
<a href="https://documenter.getpostman.com/view/17057847/Tzz7PJPi">https://documenter.getpostman.com/view/17057847/Tzz7PJPi</a>

<p>Github repo link is </p>
<a href="https://github.com/roland-valdez/backend-challange">https://github.com/roland-valdez/backend-challange</a>
</body>
</html>